.truyen-info{
    background-color: white;
    padding: 0 7px;
    text-align: center;
    .tieude{
        text-align: center;
        font-weight: bold;
        color: red;
        font-size:20px;
        margin: 3px 0;
    }
    .thumb{
        border: 1px solid #ddd;
        margin: 5px;
        .image-truyen{
            max-width: 100%;
            height: auto;
            margin: 5px 0;
        }
    }
    .sumary{
        border: 1px solid black;
        margin: 3px 5px;
        .title{
            background-color: black;
            color: white;
            font-weight: bold;
            font-size: 16px;
            padding: 5px;   
            width: 100%;
        }
        .content{
            padding: 3px 0;
            height: auto;
            width: 100%;
        }
        
    }
    .description{
        margin: 3px 5px;
        text-align: left;
        width: 100%;
        height: auto;
        overflow-wrap: break-word;
        font-weight: bold;
        a{
            text-decoration: none;
        }
        .category{
            background-color: #d8fde0;
            color: orange;
            padding: 2px 5px;
            border-radius: 0.25em;
        }
    }
    .list-chapters{
        text-align: left;
        margin: 3px 0px;
        width: 100%;
        height: auto;
        border: 2px solid #045391; 
        .title{
            padding: 8px;
            background-color: #045391;
            color: white;
            font-weight: bold;
            font-size:16px;
            .icon{
                margin: 0 3px;
                cursor: pointer;
            }
        }
        .chapters{
            text-align: center;
            .list-wrap{
                padding: 0 2px;
                max-height: 500px;
                overflow-y: auto;
                overflow-x: hidden;
                .item{
                    padding: 5px 0px;
                }
                .item:nth-child(2n+1){
                    background-color: #ededed;
                }
            }
        }
    }
    .related-item{
        padding: 3px;
        .title{
            background-color: #5db6fb;
            padding: 5px;
            color: white;
            font-weight: bold;
            font-size:16px;
            text-align: left;
        }
        .related-item-list{
            text-align: left;
            border: 1px solid #5db6fb;
            padding: 5px;
            .image-related{
                padding: 5px;
                width: 130px;
                height: 130px;
            }
        }
    }
}
.label{
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size:75%;
    border-radius: 0.25em;
    margin: 3px;
    white-space: nowrap;
}