.sidebar-new-tieude {
    background-color: #ff7f50;
    height: 30px;
    border: 1px solid black;

    .tieude {
        margin: 3px 5px;

    }

    .icon {
        margin: 3px 5px;
        cursor: pointer;
    }
}
.sidebar-new-content{
    .image-truyen{
        height: 115px;
        margin: 4px 2px
    }
}